<header class="header">
    <div class="header__icon">
        <img src="" alt="" class="header__icon-image">
        <p>ICON</p>
    </div>

    <div class="menu-opacity-trick">
        <div class="menu-opacity" [ngClass]="{ 'menu-opacity--active': opacity }"></div>
        <nav class="menu" [ngClass]="{ 'menu--active': isActive }">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link" (click)="offNavBar()">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link" (click)="offNavBar()">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link" (click)="offNavBar()">Servicios</a>
                </li>
                <li class="menu__item menu__item--padding">
                    <a href="#" class="menu__link" (click)="offNavBar()">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link" (click)="offNavBar()">Iniciar sesion</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link" (click)="offNavBar()">Registrarse</a>
                </li>
            </ul>
            <img src="../assets/icons/x.svg" alt="Menu" class="header__x icon" (click)="offNavBar()">
        </nav>
    </div>
    <img src="../assets/icons/menu.svg" alt="Menu" class="header__menu icon" (click)="onActivateNavBar()">
</header>
